  body {
    padding-top: 100px;
    background-color: #B6AD90;
  }

  /* NAV BARRE */

  .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background-color: #333;
        color: #fff;
        z-index: 1;
      }

  .nav-user {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 25px;
    padding-right: 20px;
  }

  /* Styles pour le menu de navigation mobile */
@media (max-width: 991px) {
  .navbar-collapse {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin-top: 25%;
    background-color: rgba(182, 173, 144, 0.9); /* Couleur de fond semi-transparente */
    z-index: 9999; /* Assurez-vous que la navbar-overlay est en avant-plan */
    overflow-y: auto; /* Activer le défilement si le contenu dépasse la hauteur de l'écran */
    transition: left 0.3s ease; /* Animation de transition pour l'affichage et la disparition */
  }

  .navbar-collapse.nav-user {
    font-weight: bold;
  }

  .navbar-collapse.show {
    left: 0; /* Affiche le contenu de la navbar lorsque la classe .show est ajoutée */
  }

  .navbar-collapse .navbar-nav {
    flex-direction: column; /* Affichage des liens de navigation en colonne en mode mobile */
    align-items: center; /* Centrer les liens de navigation verticalement */
    margin-top: 30px; /* Marge supérieure des liens de navigation */
  }

  .navbar-toggler {
    z-index: 9999; /* Assurez-vous que le bouton de basculement est en avant-plan */
  }

  .navbar-collapse.show + .content {
    transform: translateY(100%); /* Décale le contenu vers le bas pour ne pas être caché */
  }
}
  
  
/* SIDEBAR */

  .sidebar {
    position: fixed;
    top: 100px;
    left: 0;
    width: 300px;
    z-index: 1;
    padding: 10px 0;
    height: calc(100% - 50px);
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #656D4A;
  }

  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 60px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
  }

  /* @media (max-width: 768px) {
    .sidebar {
      width: 100%;
      order: 2;
      margin-bottom: 20px;
      padding: 60px 0;
    }
    
    .content {
      order: 1;
    }
  } */
  
  h3 {
    color: white;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Toma';
    font-size: 25px;
  }
  
  .sidebartext{
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    padding-bottom: 30px;
    font-family: Geneva, sans-serif;
  }
  
  /*  CONTENU PAGE */

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  .main {
    margin-left: 220px;
  }
  
  @media (max-width: 767.98px) {
  .main {
    margin-left: 0;
  }
}

  .content {
    position: absolute;
    top: 100px;
    right: 0;
    bottom: 0;
    background-color: #B6AD90;
    z-index: 0;
    width: 100%;
    }

  h2 /*TITRE PAGE*/{
    font-size: 45px;
    letter-spacing: 10px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 0 auto;
  }

  h4 {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 50px;
    font-family: 'Toma';
    letter-spacing: 2px;
  }


  @font-face {
    font-family: 'Grafton';
    src: url('/MonFront_PW/Police/Grafton-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Toma';
    src: url('/MonFront_PW/Police/Toma-Regular.ttf') format('truetype');
  }

  /* ACCUEIL */

  .card-home {
    width: 250px;
    height: 350px;
    background: white;
    padding: .4em;
    border-radius: 6px;
    margin-bottom: 50px;
    margin-left: 35px;
    float: left;
  }
  
  .card-image {
    width: 180px;
    height: 250px;
    border-radius: 6px 6px 0 0;
  }
  
  .card-image:hover {
    transform: scale(0.98);
  }
  
  .category {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Toma';
    color: #344e41;
    padding: 10px 7px 0;
    padding-top: 20px;
  }
  
  .category:hover {
    cursor: pointer;
  }
  
  .heading {
    font-size: 20px;
    padding: 7px;
    font-family: Geneva, sans-serif;
    color: #333D29;
  }
  
  .heading:hover {
    cursor: pointer;
  }

 

/*  DEFI - EVENT - TIPS*/
.card {
  color: #1b1b1b;
  width: 570px;
  height: 450px;
  margin-left: 35px;
  float: left;
  position: relative;
  outline: 4px solid #C2C5AA;
  border-radius: 8px;
  padding: 16px;
  background: #A68A64;
  background-blend-mode: multiply;
  background: linear-gradient(to top, #A4AC86, #C2C5AA);
  transition: background-color 1s ease-in-out;
  overflow: hidden;  
  margin-bottom: 50px;
}

.card:not(:last-child) {
  margin-right: 20px;
}

.card-front {
  bottom: 50px;
  left: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  transition: transform 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

.card-back {
  transform: translateX(120%);
  transition: transform 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

.title {
  font-size: 30px;
  font-family: 'Grafton';
  letter-spacing: 2px;
}

.title::after {
  content: "";
  display: block;
  width: 50%;
  border-radius: 50%;
  height: 2px;
  margin: 2px auto;
  background-color: #1b1b1b;
}

.adr-pt {
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.date {
  font-size: 20px;
  color: #333D29;
  margin-bottom: 10px;
  font-family: Geneva, sans-serif;
}

.desc {
  font-size: 20px;
  font-family: Geneva, sans-serif;
  text-align: justify;
}

.card:hover {
  background-color: #1b1b1b25;
}

.card:hover .card-front {
  transform: translateX(-100%);
}

.card:hover .card-back {
  transform: translateX(0);
}

.btn-insc{
  background-color: #414833;
  border-color: #414833;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  margin-right: 250px;
  opacity: 0.6;
}

.btn-insc.clicked {
  opacity: 1;
}

    /* EVENT */

    #events-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

     /* DEFI */

     #defis-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    /* TIPS */
    #tips-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }


/*  PROFIL */
.form-profil{
  justify-content: center;
  align-items: center
}


.form-profil label {
  padding-left: 100px;
  font-size: 20px;
}

.btn-profil {
  background-color: #3a5a40;
  border-color: #3a5a40;
  color: #fff;
  font-family: 'Toma';
}

.profilpage{
  width: 100%;
}

.btn_deco {
background: #3a5a40;
border-radius: 7px;
outline: none;
color: #ffffff;
cursor: pointer;
font-family: 'Toma';
font-size: 20px;
padding: 5px 100px 5px 100px;
}

/* ADMIN */

.form_admin {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  width: 500px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 30px 30px -30px rgba(27, 26, 26, 0.315);
}

.form_admin .title {
  color: #588157;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.form_admin input {
  outline: 0;
  border: 1px solid rgb(219, 213, 213);
  padding: 8px 14px;
  border-radius: 8px;
  width: 100%;
  height: 50px;
}

.form_admin textarea {
  border-radius: 8px;
  height: 100px;
  width: 100%;
  resize: none;
  outline: 0;
  padding: 8px 14px;
  border: 1px solid rgb(219, 213, 213);
}

.form_admin button {
  align-self: center;
  padding: 8px;
  outline: 0;
  border: 0;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  width: 300px;
  background-color: #588157;
  color: #fff;
  cursor: pointer;
}

input[type="date"] {
  margin-bottom: 1rem;
  outline: 0;
  border: 1px solid rgb(219, 213, 213);
  padding: 8px 14px;
  border-radius: 8px;
  width: 100%;
  height: 50px;
}

select {
  padding: 8px 16px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

select:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.btn-mod {
  background-color: #414833;
  border-color: #414833;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  margin-right: 250px;
}

    

/* SUPPRIMER */
.radio-inputs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background-color: #EEE;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.25rem;
  width: 300px;
  font-size: 14px;
}

.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: .5rem 0;
  color: rgba(51, 65, 85, 1);
  transition: all .15s ease-in-out;
}

.radio-inputs .radio input:checked + .name {
  background-color: #fff;
  font-weight: 600;
}

/* AUTHENTIFICATION */

a{
  color: black;
}

a:hover {
  color: #3a5a40;
}

label{
  color: #3a5a40;
  padding-top: 20px;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Toma';
  color: #344e41;
}

.log-in_btn {
width: 100%;
height: 40px;
border: 0;
background: #3a5a40;
border-radius: 7px;
outline: none;
color: #ffffff;
cursor: pointer;
margin-bottom: 30px;
margin-top: 30px;
font-family: 'Toma';
font-size: 20px;
}

.title_container {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 10px;
}

.form_connexion {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 40px 20px 40px;
  background-color: #ffffff;
  border-radius: 11px;
  font-family: "Inter", sans-serif;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 10px double #B6AD90;
}

p {
  font-family: Geneva, sans-serif;
}